*/env/
env
*/env/*
env/*
.vscode/
venv
*/venv/
venv
*/venv/*
venv/*

__pycache__/
include
*.egg-info
/.tox
src/.tox
.tox
.pytest_cache
.mypy_cache
pyvenv.cfg
src/simulator.egg-info
./simulator.egg-info
.env

.terraform.lock.hcl
.terraform/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
terraform.tfstate
terraform.tfstate.backup
crash.log
**/.terraform/*
*.tfplan
*.tfplan.json
