*/env/
env
*/env/*
env/*
.vscode/
venv
*/venv/
venv
*/venv/*
venv/*

__pycache__/
include
*.egg-info
/.tox
src/.tox
.tox
.pytest_cache
.mypy_cache
pyvenv.cfg
src/simulator.egg-info
./simulator.egg-info

*.pem
*.crt
*.key