name: "Terraform - Down Infrastructure"

on:
  workflow_dispatch:

permissions:
  contents: read

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash

    steps:
        
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ env.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Download Terraform State files from S3
        working-directory: infrastructure/terraform/global
        run: |
          aws s3 cp s3://infrastructure-state-terraform/state-files/terraform.tfstate terraform.tfstate
          aws s3 cp s3://infrastructure-state-terraform/state-files/terraform.tfstate.backup terraform.tfstate.backup
        continue-on-error: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        working-directory: infrastructure/terraform/global
        run: terraform init

      - name: Terraform Destroy     
        working-directory: infrastructure/terraform/global
        run: terraform destroy -auto-approve
        continue-on-error: true

      - name: Upload Terraform State files to S3
        working-directory: infrastructure/terraform/global
        run: |
          aws s3 cp terraform.tfstate s3://infrastructure-state-terraform/state-files/terraform.tfstate
          aws s3 cp terraform.tfstate.backup s3://infrastructure-state-terraform/state-files/terraform.tfstate.backup
